.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        width: 33%;
    }
    &__imgContainer {
        width: 60vw;
        text-align: center;
    }
    &__imgGreen {
        border-radius: 20px;
        border: 10px solid #83d8ad;
        width: 150px;
    }
    &__imgPink {
        border-radius: 20px;
        border: 10px solid #fb92aa;
        width: 150px;
    }
    &__img {
        border-radius: 20px;
        border: 10px solid #fbd292;
        width: 150px;
    }
    &__text {
        width: 80vw;
        padding: 10px;
        color: #595f65;
        text-align: center;
    }
    &__nameGreen {
        font-size: 18px;
        text-align: center;
    }
    &__brandGreen {
        color: #595f65;
        text-align: center;
    }
    &__descriptionGreen {
        color: #595f65;
        text-align: center;
    }
    &__namePink {
        font-size: 18px;
        text-align: center;
    }
    &__brandPink {
        color: #595f65;
        text-align: center;
    }
    &__descriptionPink {
        color: #595f65;
        text-align: center;
    }
}