.home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    

    .btn-container__homies {
        display: block;
        margin: auto;
    }

    .escanear {
        border-radius: 10px;
        width: 80%;
        padding: 20px 20px;
        color: whitesmoke;
        background-color:rgb(0, 155, 207);
        border: none;
        color:white;
        font-weight: bold;
        font-size: 105%;
        width:85%;
        height:7vh;
        margin-top: 3vh;
        border-radius: 6px;
        display: flex;
        margin-left: 7%;
        align-items: center;
        
  
    }
   
    .btn-home__p{
        display: block;
        margin: auto;
        padding-right: 40px;
    }
  
    .buscar {
        border-radius: 10px;
        width: 80%;
        padding: 20px 20px;
        background-color:#c4c4c4;
        border: none;
        color: whitesmoke;
        font-weight: bold;
        font-size: 105%;
        width:85%;
        height:7vh;
        margin-top: 3vh;
        border-radius: 6px;
        padding: 20px 20px;
        display: flex;
        margin-left: 7%;
        align-items: center;
        
    }
    .emergencias {
        padding: 18px 20px;
        background-color:#f57c97;
        border: none;
        color: whitesmoke;
        font-weight: bold;
        font-size: 105%;
        width:85%;
        height:7vh;
        margin-top: 3vh;
        border-radius: 6px;
        display: flex;
        margin-left: 7%;
        align-items: center;
    }
    .applergiclogo{
        width:172px;
        display: block;
        margin: auto;
    }

    .img-btn {
        width: 38px;
        text-align: left;
        
    }
    .QR {
        text-decoration: none;
    }
    .Buscador {
        text-decoration: none;
    }
    .Emergencias {
        text-decoration: none;
    }
    .home-p__text{
        color: gray;
        font-family: 'Montserrat', sans-serif;
        margin: 5px 15px;
    }
}