.scanner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .img-default1 {
    width: 80%;
    margin: 50px 0px;
    border-radius: 10%;
    border: solid 10px rgb(89, 95, 101);
  }
  .img-default2 {
    width: 60%;
    margin: 50px 0px;
    border-radius: 20%;
    border: solid 10px rgb(89, 95, 101);
  }
  .img-default3 {
      width: 60%;
      height: 35vh;
      margin: 50px 0px 50px 40px;
  }
}

h1 {
  margin: 50px 0px 50px 0px;
}

p {
  width: 65%;
  text-align: center;
  line-height: 20px;
}
