.scanner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .imgDef1-container{
    text-align: center;
    .img-default1 {
    width: 70%;
    margin: 57.5px 0px 50px;
    border-radius: 10%;
    border: solid 10px rgb(89, 95, 101);
  }}
  video {
    margin: 54px 0px;
  }
  .img-default2 {
    width: 50%;
    margin: 51px 0px 50px;
    border-radius: 20%;
    border: solid 10px rgb(89, 95, 101);
  }
  .img-default3 {
      width:45vw;
      height: 25vh;
      margin: 55px 0px 50px 40px;
  }
}
.backToHome-container {
  text-align: right;
  height: 10vh;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #83d8ad;
    padding: 17px 10px 0px 15px;

    font-size: 16px;
    font-weight: normal;
  }
  
  &__btn {
    border: none;
    background-color: inherit;
    margin: 10px;
    font-size: 25px;
    color: rgb(89, 95, 101);
  }
}

.Escaneado {
  text-align: center;
  margin: 50px 0px 50px 0px;
  font-size: 21px;
  
}
.p1 {
  width: 66%;
  text-align: center;
  font-size: 16px;
  color: rgb(89, 95, 101);
  letter-spacing: 0.5px;
  line-height: 25px;
}
span {
  color: #595f65;
  font-weight: bold;
}
.p2{
  text-align: center;
  width: 66%;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 25px;
  color: rgb(89, 95, 101);
}
.p3{
  text-align: center;
  width: 66%;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 25px;
  color: rgb(89, 95, 101);
}
.p4{
  text-align: center;
  width: 66%;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 25px;
  color: rgb(89, 95, 101);
}