.evaluation {
    width: 50%;
    display: block;
    margin: auto;
    align-items: center;

  }
  
  .clasificacion {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
    direction: rtl;
    unicode-bidi: bidi-override;
    
  }
  
  #evaluation label {
    font-size: 20px;
   
  } 
  
  .estrella[type="radio"] {
    display: none;
    
  } 
  
  .etiqueta {
    color: white;
    text-shadow: black 3px 0px 0px, black 2.83487px 0.981584px 0px, black 2.35766px 1.85511px 0px, black 1.62091px 2.52441px 0px, black 0.705713px 2.91581px 0px, black -0.287171px 2.98622px 0px, black -1.24844px 2.72789px 0px, black -2.07227px 2.16926px 0px, black -2.66798px 1.37182px 0px, black -2.96998px 0.42336px 0px, black -2.94502px -0.571704px 0px, black -2.59586px -1.50383px 0px, black -1.96093px -2.27041px 0px, black -1.11013px -2.78704px 0px, black -0.137119px -2.99686px 0px, black 0.850987px -2.87677px 0px, black 1.74541px -2.43999px 0px, black 2.44769px -1.73459px 0px, black 2.88051px -0.838247px 0px;
    padding: 5px;  
}
  

  
  .etiqueta:hover,
  .etiqueta:hover ~ label {
    color: orange;
  }
  
  .estrella[type="radio"]:checked ~ label {
    color: orange;
    
  }

  .txt{
         height: 50px;
         text-align: center; 
         font-weight: bold;
         font-size: 20px;
         
      }
 
     
  .pagina{
      color: rgb(43, 191, 255);
      text-align: center;
      align-items:center; 
      font-weight: bold;
      font-size: 20px;
      justify-content: center;
      display: flex;
      

      
  }