.formRegister{
    min-height: 100vh;
}

.swiper-slide{
    justify-content:start !important;
    min-height: 100vh !important;
}

.cont-select{
    width: 85%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    overflow-x: hidden;
    &--Allergens{
        width: 100%;
    }
    
    &--deployed{
     width: 100%;
     display: flex;
     justify-content:space-between;   
    }
}


 #ck-button {
     margin:4px;
     color:#888686;
     border-radius:20px;
     border:1px solid #888686;
     overflow:auto;
     float:left;
     :hover{
         cursor:pointer;
     }
 }
 
 
 #ck-button label {
     float:left;
 }
 
 #ck-button label span {
     text-align:center;
     padding: 6px 10px;
     display:block;
     font-weight: bold;
 }
 
 #ck-button label input {
     position:fixed;
     visibility: hidden;
    //  top:-20px; esto redireccionaba la pagina arriba
 }
 
 #ck-button input:checked + span {
     background:red;
     color:#fff;
 }

.head{
    display:flex;
    width: 85%;
    margin: 20px;
    &--back{
        border:none;
        background:transparent; 
        color: rgb(0, 155, 207);
        position: absolute;
    }
    &--p{
        margin: 0 auto;
    }
}

.cont-text3, .cont-text4{
    display:flex;
    align-items:center;
    width:85%;
    flex-direction:column;
    height: 18vh;
    &--h3{
        margin:0;
        padding:0;
        width:70%;
    }
    &--p{
        margin:30px 0px 10px;
        padding:0;
        color: #888686;
        width:85%;
    }
}

.cont-text4{
    margin-top: 15%;
}

.allLetters{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    width: 300px;
    height: 300px;
    border:1px solid #888686;
    margin-bottom: 20px;
    &__single{
        text-decoration: none;
        width:30px;
        color:white;
        border-radius: 50%;
        background-color: #888686;
        padding: 6px 0;
        margin:6%;
        scroll-behavior: disable;
    }
 }

 .arrowTop,.arrowBot{
    color: #888686;
    margin-right: 15px;
 }

 .saveAllergens{
        background-color:rgb(0, 155, 207);
        border: none;
        color:white;
        font-weight: bold;
        font-size: 105%;
        width:85%;
        height:6vh;
        margin-top: 3vh;
        border-radius: 6px;
 }

.conf-aller{
    display:flex;
    flex-direction: column;
    width:85%;
    padding:0px 0px;
    max-height: 100vh;

    &--p{
        text-align: left;
        width: 80%;
        margin: 0;
        color: #5e5e5e;
        font-weight: bold;
    }
    &--result{
        display:flex;
        flex-wrap: wrap;
        align-items: start;
        padding: 0px 0px;
    }
    &--select{
        list-style: none;
        background:red;
        color:#fff;
        border-radius:20px;
        padding: 6px 10px;
        margin: 4px;
    }
    &--addNew{
        background-color:transparent;
        border: none;
        color: #5e5e5e;
        border:1px solid #5e5e5e;
        border-radius:20px;
        padding: 6px 0px;
        font-weight:bold;
        width: 40%;
    }
}

.btn-submit{
    background-color:rgb(0, 155, 207);
    border: none;
    color:white;
    font-weight: bold;
    font-size: 105%;
    width:85%;
    height:6vh;
    margin: auto;
    border-radius: 6px; 
}