

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(255, 255, 255);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}