@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27');

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(250, 245, 245);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}